.salesdata {
    display: flex;
    width: 100%;
   
   

    .salescontainer {
         flex: 6;
  
    }
    .tabledata{
        margin-top: 50px;
        height: 40%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
}

