.home {
    display: flex;

    .homeContainer {
         flex: 6;
    }

    .chartdata{
        margin-top: 20px;
        display: flex;
        padding: 10px;
        justify-content: space-between;
             
    }
}